version: '3.8'

# Fast Paxos mode
# This works out of the box without requiring a sequencer

services:
  replica0:
    build: .
    container_name: fastpaxos-replica-0
    networks:
      nopaxos-net:
        ipv4_address: 192.168.100.11
    volumes:
      - ./nopaxos-replica.conf:/nopaxos/nopaxos-replica.conf:ro
    working_dir: /nopaxos
    command: /bin/bash -c "sleep 5 && ./bench/replica -c nopaxos-replica.conf -i 0 -m fastpaxos"
    stdin_open: true
    tty: true

  replica1:
    build: .
    container_name: fastpaxos-replica-1
    networks:
      nopaxos-net:
        ipv4_address: 192.168.100.12
    volumes:
      - ./nopaxos-replica.conf:/nopaxos/nopaxos-replica.conf:ro
    working_dir: /nopaxos
    command: /bin/bash -c "sleep 5 && ./bench/replica -c nopaxos-replica.conf -i 1 -m fastpaxos"
    stdin_open: true
    tty: true

  replica2:
    build: .
    container_name: fastpaxos-replica-2
    networks:
      nopaxos-net:
        ipv4_address: 192.168.100.13
    volumes:
      - ./nopaxos-replica.conf:/nopaxos/nopaxos-replica.conf:ro
    working_dir: /nopaxos
    command: /bin/bash -c "sleep 5 && ./bench/replica -c nopaxos-replica.conf -i 2 -m fastpaxos"
    stdin_open: true
    tty: true

  client:
    build: .
    container_name: fastpaxos-client
    networks:
      nopaxos-net:
        ipv4_address: 192.168.100.20
    volumes:
      - ./nopaxos-replica.conf:/nopaxos/nopaxos-replica.conf:ro
    working_dir: /nopaxos
    command: /bin/bash -c "sleep 10 && ./bench/client -c nopaxos-replica.conf -m fastpaxos -n 100"
    depends_on:
      - replica0
      - replica1
      - replica2
    stdin_open: true
    tty: true

networks:
  nopaxos-net:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.100.0/24

