version: '3.8'

# NOPaxos mode with sequencer
# WARNING: This requires additional network configuration (OpenFlow or iptables)
# to route packets through the sequencer. It will NOT work out of the box.
# Use docker-compose.yml (VR mode) for testing instead.

services:
  sequencer:
    build: .
    container_name: nopaxos-sequencer
    privileged: true  # Required for raw sockets
    networks:
      nopaxos-net:
        ipv4_address: 192.168.100.10
    volumes:
      - ./nopaxos-sequencer.conf:/nopaxos/nopaxos-sequencer.conf:ro
    working_dir: /nopaxos
    command: /bin/bash -c "sleep 5 && ./sequencer/sequencer -c nopaxos-sequencer.conf"
    stdin_open: true
    tty: true

  replica0:
    build: .
    container_name: nopaxos-replica-0
    networks:
      nopaxos-net:
        ipv4_address: 192.168.100.11
    volumes:
      - ./nopaxos-replica.conf:/nopaxos/nopaxos-replica.conf:ro
    working_dir: /nopaxos
    command: /bin/bash -c "sleep 10 && ./bench/replica -c nopaxos-replica.conf -i 0 -m nopaxos"
    depends_on:
      - sequencer
    stdin_open: true
    tty: true

  replica1:
    build: .
    container_name: nopaxos-replica-1
    networks:
      nopaxos-net:
        ipv4_address: 192.168.100.12
    volumes:
      - ./nopaxos-replica.conf:/nopaxos/nopaxos-replica.conf:ro
    working_dir: /nopaxos
    command: /bin/bash -c "sleep 10 && ./bench/replica -c nopaxos-replica.conf -i 1 -m nopaxos"
    depends_on:
      - sequencer
    stdin_open: true
    tty: true

  replica2:
    build: .
    container_name: nopaxos-replica-2
    networks:
      nopaxos-net:
        ipv4_address: 192.168.100.13
    volumes:
      - ./nopaxos-replica.conf:/nopaxos/nopaxos-replica.conf:ro
    working_dir: /nopaxos
    command: /bin/bash -c "sleep 10 && ./bench/replica -c nopaxos-replica.conf -i 2 -m nopaxos"
    depends_on:
      - sequencer
    stdin_open: true
    tty: true

  client:
    build: .
    container_name: nopaxos-client
    networks:
      nopaxos-net:
        ipv4_address: 192.168.100.20
    volumes:
      - ./nopaxos-replica.conf:/nopaxos/nopaxos-replica.conf:ro
    working_dir: /nopaxos
    command: /bin/bash -c "sleep 15 && ./bench/client -c nopaxos-replica.conf -m nopaxos -n 100"
    depends_on:
      - replica0
      - replica1
      - replica2
    stdin_open: true
    tty: true

networks:
  nopaxos-net:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.100.0/24

